<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')  %>

    <title>Home Page</title>
</head>
<body>  
    <%- include('./partials/nav') %>

    <div class="container ">
        <h3>All Blogs</h3>
        <div class="container mt-3 mx-3 row ">
       
            <% blogs.reverse().forEach(blog => { %> 
                <div class="col" >
                    <div class="card mb-3 mx-3  " style="width: 18rem;">
                        <img src="<%= blog.coverImageURL %>" class="card-img-top"  alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> <%= blog.title %> </h5>
                            <!-- <p class="card-text"> <%= blog.body %> </p> -->
                            <a href="/blog/<%=blog._id%>" class="btn btn-primary">View</a>
                              <%= blog.createdBy.fullName  %>
                        </div>
                            
                    </div> 
                </div>
                <% }) %>
        </div>
    </div>

    <%- include('./partials/script') %>
</body>
</html>